# backup files
*.bak
*~

# object files
*.o
*.d
*.elf

# build directory (from pulp's makefile)
build/

# GUI LVGL Library
libraries/gui/libs/

# GUI Build Directory
libraries/gui/build
libraries/gui/tests/build

libraries/sensors/afe4400/build/
libraries/sensors/afe4400/test_soft

libraries/sensors/DS1307/build/
libraries/sensors/DS3231/test_host/
