# backup files
*.bak
*~

# object files
*.o
*.d
*.elf

# build directory (from pulp's makefile)
build/

# GUI LVGL Library
libraries/gui/libs/

# GUI Build Directory
libraries/gui/build
libraries/gui/tests/build
