# backup files
*.bak
*~

# object files
*.o
*.d
*.elf

# build directory (from pulp's makefile)
build/

# GUI LVGL Library
libraries/gui/libs/

# GUI Build Directory
libraries/gui/build
libraries/gui/tests/build
libraries/gui/src/ui/.eez-project-build

libraries/sensors/afe4400/build/
libraries/sensors/afe4400/test_soft

libraries/sensors/DS1307/build/
libraries/sensors/DS1307/test_host
libraries/sensors/DS1307/build.sh

libraries/sensors/l3g4200d/test/build/
libraries/sensors/mpu6050/test/build/

libraries/sensor/max30102/test_soft
libraries/sensor/max30102/setup_env.sh
libraries/sensor/max30102/build/
